<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>org.example.pixelhavencat201.AdminLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/admin-login</url-pattern>
    </servlet-mapping>

</web-app>
